.border-color{ 
    border-color:orangered;
    border-width:2.5px;
}

.game-card {
    width: 550px;
    height: 550px;
    padding: 0;
    margin-top: 25px;
}

.image-definition {
    width: 250px;
    height: 250px;
    margin:10px auto;
    vertical-align:middle;
}

.arrow-right {
    background: none;
    border: none;
    font-size: 3.5em;
    color: #FF9A03;
}

.title-card { 
    color: #8C52FF;
    font-size: 30px;
}

.header-bg {
    background-color: #F4D65F;
    
}

.color-definitions {
    background-color: #ECE2FF;
    border-radius: 10px;
    padding: 10px;
}

.position-arrow{
    position:absolute;
    bottom:0px;
    right:15px;
}

.trophy{
    width: 200px;
    height: 200px;
    margin:10px auto;
    vertical-align:middle;
}

.title-winner{
    color: #8C52FF;
    font-size: 3em
}

.button-yes{
    position:absolute;
    bottom:90px;
    left: 200px;
}


.button-no{
    position:absolute;
    bottom:90px;
    right:200px;
}