.border-color{ 
    border-color:orangered;
    border-width:2.5px;
}

.game-card {
    width: 550px;
    height: 550px;
    padding: 0;
    margin-top: 25px;
}

.image-definition {
    width: 250px;
    height: 250px;
    margin:10px auto;
    vertical-align:middle;
}

.arrow-right {
    background: none;
    border: none;
    font-size: 3.5em;
    color: #FF9A03;
}

.title-card { 
    color: #8C52FF;
    font-size: 30px;
}

.header-bg {
    background-color: #F4D65F;
    
}

