// Colors
$primary: #FFB20E;
// $dark-grey: #363636;
// $light-grey: #d8d8d8;

$white: #fff;
$black: black;
$google-blue: #4285f4;
$google-background: #E9EAEC;
$facebook-blue: #3B5998;
$button-active-blue: #1669f2;
